@import "../../../../styles.scss";

.blog-post {
	p em {
		color: $primary-color;
	}
}
.blog-post-meta {
	padding-left: 2rem;
}

@media only screen and ( max-width: 768px ) {
	.blog-post-meta {
		display:none;
	}
}
